<div class="cart">
    <div class="cart__header">
        <div class="">33</div>
        <div class="">455</div>
        <div class="">768</div>
        <div class="">56</div>
        <div class="">677</div>
        <div class="">888</div>
    </div>
    <div class="cart__items">
        <app-order-cart-item *ngFor="let item of cart$ | async; let i = index" [props]="item"></app-order-cart-item>
    </div>
    <div class="cart__info">
        <div class="cart__info__1">скидка</div>
        <div class="cart__info__2">
            <div>0.0</div>
            <div>0.0</div>
        </div>
        <div class="cart__info__3">подытог</div>
        <div class="cart__info__4">0,0</div>
    </div>
    <div class="cart__footer">
        <div class="">+</div>
        <div class="">-</div>
        <div class="">123</div>
        <div class="">*</div>
        <div class="">|</div>
        <div class="">X</div>
    </div>
</div>
