.cart {
    display: grid;
    align-content: start;
    height: 100%;
    grid-template-rows: 0.2fr 1fr 0.3fr 0.2fr;
    row-gap: var(--cart-grid-gap);
    &__header {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-content: center;
        justify-items: center;
        color: var(--color-main-primary-text);
        background-color: var(--color-main-primary-back);
    }
    &__items {
        height: 100%;
        background-color: var(--color-cart-back);
    }
    &__info {
        display: grid;
        align-content: start;
        height: 100%;
        grid-template-columns: 0.4fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: var(--cart-grid-gap);
        column-gap: var(--cart-grid-gap);
        color: var(--color-text-disable);
        font-size: 20px;
        text-align: center;
        &__1{
            display: grid;
            align-content: center;
            background-color: var(--color-cart-back);
        }
        &__2{
            display: grid;
            align-content: center;
            grid-template-columns: 1fr 1fr;
            color: var( --color-text-primary);
            background-color: var(--color-main-back);
        }
        &__3{
            display: grid;
            align-content: center;
            background-color: var(--color-cart-back);
        }
        &__4{
            display: grid;
            align-content: center;
            background-color: var(--color-cart-back);
        }
    }
    &__footer {
        display: grid;
        align-content: center;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        color: var(--color-text-disable);
        font-size: 40px;
        justify-items: center;
        background-color: var(--color-main-back);
    }
}
