<div class="e0yhcqh9 block">
    <div *ngIf="props.order.length === 0" class="e0sycme9 block">
        <div class="e03sy9zo block">
            <svg class="e0wvqozv" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21 3C21 1.34315 19.6569 0 18 0C16.3431 0 15 1.34315 15 3H21ZM15 28C15 29.6569 16.3431 31 18 31C19.6569 31 21 29.6569 21 28H15ZM3 12C1.34315 12 0 13.3431 0 15C0 16.6569 1.34315 18 3 18V12ZM33 18C34.6569 18 36 16.6569 36 15C36 13.3431 34.6569 12 33 12V18ZM15 3V28H21V3H15ZM3 18H33V12H3V18Z"
                    fill="#3F4140"
                ></path>
            </svg>
        </div>
    </div>

    <div *ngIf="props.order.length > 0" class="cme9 block">
        <div class="order_cart">
            <div class="order_cart__back">
                <div class="order_cart__header">
                    <p>{{ props.id }}</p>
                    <p>{{ props.createdAt | date }}</p>
                </div>
                <div *ngFor="let item of items">
                    <div class="ittt">
                        <div class="box"></div>
                        <div class="prodName">{{ filteredItem(item.id) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
