
.e0uqsi91 {
    align-content: start;
    background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(254, 254, 254) 100%);
    height: 267px;
    margin-left: 5px;
    margin-top: 8px;
    width: 234px;
}

.e0dsr345 {
    background-image: url("~src/assets/image/rectangle-40.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45px;
    width: 234px;
}

.e0co71hm {
    height: 45px;
    width: 45px;
}

.e0be1uft {
    align-content: start;
    height: 20px;
    margin-top: 1px;
    width: 32px;
}

.e0c6tdgl {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e082o2iu {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0n6d0y1 {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0tszlqa {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e057nmdy {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e090ena8 {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0fd21yr {
    grid-auto-flow: column;
    height: 15px;
    justify-content: start;
    min-height: auto;
    width: 234px;
}

.e0gufqmk {
    align-content: start;
    height: 2px;
    margin-left: 9px;
    margin-top: 13px;
    width: 2px;
}


.e0sycme9 {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 4px;
    margin-top: 3px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e03sy9zo {
    align-content: start;
    background-image: url("~src/assets/image/ellipse-2-65.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e0wvqozv {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
}

.e0yhcqh9 {
    grid-auto-flow: column;
    height: 268px;
    justify-content: start;
}
