.bottom_bar {
    position: absolute;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(rgb(32, 32, 32) 0%, rgb(32, 32, 32) 100%);
    height: 10%;
    width: 100vw;
    &__left {
        display: grid;
        justify-content: start;
    }
    &__right {
        display: grid;
        justify-content: end;
    }
}

.btn {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    width: 100px;
    height: 100%;
    color: gray;
    &:hover {
        background-color: rgb(230, 255, 132);
        color: white;
    }
}

svg {
}
