<div class="list_users">
    <div class="item_number">1</div>
    <div class="item_name">
        <div>Парень</div>
        <div></div>
        <div></div>
        <div>0.0</div>
    </div>
</div>
<!-- <div class="e0ko17uh block">
    <div style="color: #00bcd5" *ngFor="let item of orders$ | async; let i = index">
        <p>{{ item.id }}</p>
        <p>{{ item.createdAt }}</p>
        <p *ngIf="item.order">{{ item.order[0].id }}</p>
        <p *ngIf="item.order">{{ item.order[0].quantity }}</p>
    </div>
</div> -->
