.orders_items {
    display: grid;
    margin-top: 3px;
    margin-left: 3px;
    align-content: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}

.e07q657r {
    grid-auto-flow: column;
    height: 275px;
    justify-content: start;
}

.e004vsjy {
    align-content: start;
    height: 2px;
    margin-left: 3px;
    margin-top: 13px;
    width: 2px;
}

.e0mufrqd {
    align-content: start;
    height: 2px;
    margin-left: 3px;
    margin-top: 13px;
    width: 2px;
}

.e0v1cxkj {
    align-content: start;
    height: 45px;
    margin-top: 9px;
    width: 234px;
}

.e0vyj6ul {
    align-content: start;
    background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(254, 254, 254) 100%);
    height: 267px;
    margin-left: 2px;
    margin-top: 8px;
    width: 234px;
}

.e0s58c5g {
    background-image: url('~src/assets/image/rectangle-40.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45px;
    width: 234px;
}

.e0iguo85 {
    height: 45px;
    width: 45px;
}

/* .e0eccfab {
    align-content: start;
    height: 20px;
    margin-top: 1px;
    width: 32px;
}

.e0ownj9i {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e02d9udf {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0nwwb8u {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0i3ay9v {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e01ya88v {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0s9xi16 {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0p8bw9y {
    grid-auto-flow: column;
    height: 15px;
    justify-content: start;
    min-height: auto;
    width: 234px;
}

.e03f43uq {
    align-content: start;
    height: 2px;
    margin-left: 9px;
    margin-top: 13px;
    width: 2px;
}

.e0zp24ro {
    align-content: start;
    height: 2px;
    margin-left: 3px;
    margin-top: 13px;
    width: 2px;
}

.e02omvsw {
    align-content: start;
    height: 2px;
    margin-left: 3px;
    margin-top: 13px;
    width: 2px;
}

.e0wn0dmx {
    align-content: start;
    height: 45px;
    margin-top: 9px;
    width: 234px;
}

.e0s1uj0m {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 3px;
    margin-top: 10px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e0lnhc2i {
    align-content: start;
    background-image: url('~src/assets/image/ellipse-2-65.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e0rkqltn {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
}

.e0gmlj21 {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 4px;
    margin-top: 10px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e084tzk3 {
    align-content: start;
    background-image: url('~src/assets/image/ellipse-2-65.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e0ehuqdg {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
}

.e0zxcikl {
    grid-auto-flow: column;
    height: 269px;
    justify-content: start;
}

.e0kxbb16 {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 329px;
    margin-top: 3px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e0pfose5 {
    align-content: start;
    background-image: url('~src/assets/image/ellipse-2-65.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e0eaxe68 {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
}

.e0c01kyu {
    align-content: start;
    background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(254, 254, 254) 100%);
    height: 267px;
    margin-left: 3px;
    margin-top: 2px;
    width: 234px;
}

.e022uaws {
    background-image: url('~src/assets/image/rectangle-40.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45px;
    width: 234px;
}

.e00rzoev {
    height: 45px;
    width: 45px;
}

.e0ore065 {
    align-content: start;
    height: 20px;
    margin-top: 1px;
    width: 32px;
}

.e01whbsg {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0fyvft2 {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0nwyhip {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0s8pi3i {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e01ezqg9 {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0klj741 {
    align-content: start;
    height: 20px;
    margin-top: 2px;
    width: 32px;
}

.e0uwspfz {
    grid-auto-flow: column;
    height: 15px;
    justify-content: start;
    min-height: auto;
    width: 234px;
}

.e0hzoa3v {
    align-content: start;
    height: 2px;
    margin-left: 9px;
    margin-top: 13px;
    width: 2px;
}

.e0c405ah {
    align-content: start;
    height: 2px;
    margin-left: 3px;
    margin-top: 13px;
    width: 2px;
}

.e0a4q4oo {
    align-content: start;
    height: 2px;
    margin-left: 3px;
    margin-top: 13px;
    width: 2px;
}

.e09qcoou {
    align-content: start;
    height: 45px;
    margin-top: 9px;
    width: 234px;
}

.e0dxxixo {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 3px;
    margin-top: 3px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e09ez51w {
    align-content: start;
    background-image: url('~src/assets/image/ellipse-2-65.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e0sfhjqb {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
}

.e0x9vnzw {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 4px;
    margin-top: 3px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e0u81umb {
    align-content: start;
    background-image: url('~src/assets/image/ellipse-2-65.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e00ndi8b {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
}

.e0yhcqh9 {
    grid-auto-flow: column;
    height: 268px;
    justify-content: start;
}

.e0iow0tu {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 329px;
    margin-top: 3px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e00vqf98 {
    align-content: start;
    background-image: url('~src/assets/image/ellipse-2-65.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e0zrx35j {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
}

.e0dwl2v7 {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 4px;
    margin-top: 3px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e0o23887 {
    align-content: start;
    background-image: url('~src/assets/image/ellipse-2-65.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e02cxn8k {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
}

.e0w31mnc {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 4px;
    margin-top: 3px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e00kbpww {
    align-content: start;
    background-image: url('~src/assets/image/ellipse-2-65.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e09jihka {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
}

.e0sycme9 {
    align-content: start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    height: 265px;
    margin-left: 4px;
    margin-top: 3px;
    width: 232px;
    border: 1px solid rgb(160, 160, 160);
}

.e03sy9zo {
    align-content: start;
    background-image: url('~src/assets/image/ellipse-2-65.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63px;
    margin-left: 84px;
    margin-top: 101px;
    width: 65px;
}

.e0wvqozv {
    align-content: start;
    height: 25px;
    margin-left: 17px;
    margin-top: 20px;
    width: 30px;
} */
